@import '../../../../styles/sass/utils/styling';

.carousel {
	@include flex($direction:column,$align:center,$justify:center,$gap:unset);
	@include box($height:255px,$width:100%,$border:none,$radius:10px, $overflow: unset, $position:relative);

	.carousel-counter {
		display: none;
		@include font($font:$global-font,$size:18px, $weight:500,$color:$white);
		@include pose($top:90%,$left:49%,$right:unset,$bottom:unset);
        text-shadow: 1px 1px 2px $grey;  
	}

	.carousel-btn {
		position: absolute;
		background: none;
		border: none;
		filter: invert(1);

		&.arrow-left{
			left: 10px;
		}

		&.arrow-right{
			right: 10px;
		}
	}

	.carousel-img {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;

		@media screen and (min-width: $desktop) {
			border-radius: 25px;
		}
	}
}