@import '../../styles/sass/utils/styling';

.kasa-main {
    @include flex($direction:column,$align:normal,$justify:normal,$gap:unset);
    width: $mobile-box; 

    @media screen and (min-width: $tablet) {
        width: $tablet-box;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop-box;
    }

    @media screen and (min-width: $desktopXL) {
        width: $desktopXL-box;
    }
}

// .kasa-main {
//     @include flex($direction:column,$align:normal,$justify:normal,$gap:20px);
//     @include margin($margin: 0 20px,$padding:0px);

//     @media screen and (min-width: $tablet) {
//         @include flex($direction:column,$align:normal,$justify:normal,$gap:33px);
//     }

// 	@media screen and (min-width: $desktop) {
//         @include flex($direction:column,$align:normal,$justify:normal,$gap:43px);
//         @include margin($margin: 0 40px,$padding:0px);
// 	}
// }

// @media screen and (min-width: $tablet) {
    //     @include flex($direction:column,$align:normal,$justify:normal,$gap:33px);
    // }

	// @media screen and (min-width: $desktop) {
    //     @include flex($direction:column,$align:normal,$justify:normal,$gap:43px);
    //     @include margin($margin: 0 40px,$padding:0px);
	// }