@import '../../styles/sass/utils/styling';

.kasa-header {
    @include flex($direction:row,$align:center,$justify:space-between,$gap:unset);
	height: 47px;
    width: $mobile-box;
	color: $black;
	margin-top: 20px;
	
	// @media screen and (min-width: $desktop) {
	// 	@include margin($margin: 45px 40px 0,$padding:0px);
	// }

	@media screen and (min-width: $desktopXL) {
		height:68px;
        width: $desktopXL-box;
    }

	.kasa-logo {
		height: inherit;
	}

	.nav-list {
		@include flex($direction:row,$align:center,$justify:space-between,$gap:25px);
		@include font($font:$global-font,$size: 12px,$weight: 500,$color:$black);
		list-style-type: none;
		text-transform: uppercase;

		@media screen and (min-width: $desktopXL) {
			@include font($font:$global-font,$size: 24px,$weight: 500,$color:$black);
			text-transform: none;
		}
	
		.nav-link {
			text-decoration: none;
			color:$black;

			&:hover, &:active {
				text-decoration: underline;
			}
		}
	}
}