@import '../../../styles/sass/utils/styling';

#root.about, .content-wrapper.about-wrapper {
    @include flex($direction: column, $align: normal, $justify: normal, $gap: 19px);
    margin: auto;
    width: inherit;

    @media screen and (min-width: $tablet) {
        @include flex($direction: column, $align: normal, $justify: normal, $gap: 35px);
    }

    @media screen and (min-width: $desktop) {
        @include flex($direction: column, $align: normal, $justify: normal, $gap: 36px);
    }

    @media screen and (min-width: $desktopXL) {
        @include flex($direction: column, $align: normal, $justify: normal, $gap: 38px);
    }
}

.content-wrapper.about-wrapper {
    width: $mobile-box;

    @media screen and (min-width: $tablet) {
        width: $tablet-box;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop-box;
    }

    @media screen and (min-width: $desktopXL) {
        width: $desktopXL-box;
    }
}

.kasa-header.about-header {
    @media screen and (min-width: $tablet) {
        margin-top: 35px;
    }

    @media screen and (min-width: $desktop) {
        margin-top: 40px;
    }

    @media screen and (min-width: $desktopXL) {
		margin-top: 45px;
    }
}

.about-banner .banner-img {
    filter: brightness(0.8);
}

.kasa-main.about-main {
    @include flex($direction:column,$align:normal,$justify:normal,$gap:19px);

    @media screen and (min-width: $tablet) {
        @include flex($direction:column,$align:normal,$justify:normal,$gap:28px);
    }

    @media screen and (min-width: $desktop) {
        @include flex($direction:column,$align:normal,$justify:normal,$gap:32px);
    }

	@media screen and (min-width: $desktopXL) {
        @include flex($direction:column,$align:normal,$justify:normal,$gap:38px);
        width: $desktopXL-box;
	}
}

.values {
    @media screen and (min-width: $tablet) {
        @include flex($direction:column,$align:normal,$justify:space-evenly,$gap:10px);
        @include box($height:210px,$width:$tablet-box,$border:none,$radius:unset, $overflow: unset, $position:unset);
        margin: auto;
    }

    @media screen and (min-width: $desktop) {
        @include flex($direction:column,$align:normal,$justify:space-evenly,$gap:20px);
        @include box($height:255px,$width:$desktop-box,$border:none,$radius:unset, $overflow: unset, $position:unset);
        margin: auto;
	}

    @media screen and (min-width: $desktopXL) {
        @include flex($direction:column,$align:normal,$justify:space-evenly,$gap:30px);
        @include box($height:298px,$width:1023px,$border:none,$radius:unset, $overflow: unset, $position:unset);
        margin: auto;
	}
}