/* Breakpoints */
//mobile(default): 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1440px;

/* Box sizing */
$mobile-box: 335px;
$tablet-box: 568px;
$desktop-box: 840px;
$desktopXL-box: 1240px;
