$red : #FF6060;
$black : #000000;
$white : #FFFFFF;
$grey : #6f6b6b;

/****** Thumbnail ***********/
$red-gradient: linear-gradient(to bottom, #FF6060, #9f4545);

/****** Labels ***********/
$round-background:#9356DC;
$square-background:#99E2D0;
$square-text:#008766;