@import './fonts';
@import './mixins';
@import './colors';

/****** BODY ***********/
body * {
    font-family: $global-font, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    @include flex($direction:column,$align:normal,$justify:normal,$gap:27px);
    margin: auto;
    width: inherit;
}