@import '../../styles/sass/utils/styling';

.kasa-footer {
	color: $white;
	background-color: black;
	@include flex($direction:column,$align:center,$justify:center,$gap:10px);
	@include size($height:210px,$width:100%);
	margin: 0;

	.kasa-logo {
		@include size($height:40px,$width:122px);
		filter: grayscale(100%) brightness(2);
	}

	.copyright {
		@include font($font: $global-font,$size: 12px, $weight:500,$color:$white);
		width: 95px;

		@media screen and (min-width: $desktopXL) {
			@include font($font: $global-font,$size: 24px, $weight:500,$color:$white);
            width: 400px;
        }
	}
}