@import '../../../styles/sass/utils/styling';

.cards {
	@include flex($direction:column,$align:center,$justify:center,$gap:20px);

	.card {
		position: relative;
		
		.card-cover {
		@include box($height:255px,$width:100%,$border:none,$radius:10px,$overflow:hidden,$position:relative);
		background:$red-gradient;
		gap: 20px;
		}

		.card-title {
		@include font($font: $global-font,$size: 18px, $weight:bold,$color:$white);
		@include position($top:85%,$left:45%,$right:unset,$bottom:unset,$transorm:translate(-50%, -50%),$index:1);
		width: 80%;
		text-shadow: 0px 0px 4px $grey;
		}
	}
}

