@import '../../../styles/sass/utils/styling';

.card {
	@include flex($direction:column,$align:normal,$justify:normal,$gap:5px);

	.card-cover-accomodation {
		@include box($height:255px,$width:100%,$border:none,$radius:10px,$overflow:hidden,$position:relative);
		background:$red-gradient;
		gap: 20px;
	}

	.card-titles {
		@include flex($direction:column,$align:normal,$justify:normal,$gap:5px);

		.card-title {
			@include font($font: $global-font,$size: 18px, $weight:500,$color:$red);
		}
	
		.card-location {
			@include font($font: $global-font,$size: 14px, $weight:500,$color:$black);
		}
	}

	.card-tags {
		@include font($font: $global-font,$size: 10px, $weight:bold,$color:$white);
		@include flex($direction:row,$align:center,$justify:flex-start,$gap:10px);
		@include margin($margin:10px 0,$padding:unset);
		flex-wrap: wrap;

		.card-tag {
			@include box($height:18px,$width:fit-content,$border:none,$radius:5px,$overflow:unset,$position:unset);
			background:$red;
			@include flex($direction:row,$align:center,$justify:center,$gap:unset);
			@include margin($margin:unset,$padding:0px 10px);
		}
	}

	.card-host-details {
		@include flex($direction:row,$align:center,$justify:space-between,$gap:unset);
		@include box($height:33px,$width:100%,$border:none,$radius:none,$overflow:unset,$position:unset);

		.rating {
			@include flex($direction:row,$align:normal,$justify:normal,$gap:2px);

			.star-full {
			color:$red;
			}
	
			.star-empty {
				color:$light-grey;
			}
		}
		

		.host {
			@include flex($direction:row,$align:center,$justify:space-between,$gap:10px);

			.host-name {
				@include font($font: $global-font,$size: 12px, $weight:500,$color:$red);
				width:60px; //50px;
				text-align: end;
			}

			.host-picture {
				width: 32px;
    			height: 32px;
				border-radius: 50%;
			}
		}
	}
}


