@import '../../../styles/sass/utils/styling';

#root.accomodation, .content-wrapper.accomodation-wrapper {
    @include flex($direction: column, $align: normal, $justify: normal, $gap: 27px);
    margin: auto;
    width: inherit;

    @media screen and (min-width: $tablet) {
        @include flex($direction: column, $align: normal, $justify: normal, $gap: 35px);
    }

    @media screen and (min-width: $desktop) {
        @include flex($direction: column, $align: normal, $justify: normal, $gap: 45px);
    }

    @media screen and (min-width: $desktopXL) {
        @include flex($direction: column, $align: normal, $justify: normal, $gap: 50px);
    }
}

.content-wrapper.accomodation-wrapper {
    width: $mobile-box;

    @media screen and (min-width: $tablet) {
        width: $tablet-box;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop-box;
    }

    @media screen and (min-width: $desktopXL) {
        width: $desktopXL-box;
    }
}

.kasa-header.accomodation-header {
    @media screen and (min-width: $tablet) {
        margin-top: 35px
    }

    @media screen and (min-width: $desktop) {
        margin-top: 40px;
    }

    @media screen and (min-width: $desktopXL) {
		margin-top: 45px;
    }
}

.kasa-main.accomodation-main {
    .carousel {
        @media screen and (min-width: $desktopXL) {
            height: 412px;          
        }

        .carousel-counter {
            @media screen and (min-width: $desktop) {
                display: block;
                @include font($font:$global-font,$size:14px, $weight:500,$color:$white);
            }

            @media screen and (min-width: $desktopXL) {
                display: block;  
            }
        }
    }
    .card-title {
        @media screen and (min-width: $desktopXL) {
            @include font($font:$global-font,$size:36px, $weight:500,$color:$red);
        }
    }
    .card-location {
        @media screen and (min-width: $desktopXL) {
            @include font($font:$global-font,$size:18px, $weight:500,$color:$black);
        }
    }
    .card-tag {
        @media screen and (min-width: $desktopXL) {
            height: 25px;    
        }
    }
    .card-host-details {
        @media screen and (min-width: $desktopXL) {
            @include flex($direction: column-reverse, $align: flex-end, $justify: normal, $gap:20px);
            position: relative;
            top: -40px;
            
            .host {
                @media screen and (min-width: $desktopXL) {
                    @include flex($direction: row, $align: normal, $justify: normal, $gap:2px);
                    gap: 38px;                
                }

                .host-name {
                    @media screen and (min-width: $desktopXL) {
                        @include flex($direction: row, $align: center, $justify: normal, $gap:2px);
                        @include font($font:$global-font,$size:18px, $weight:500,$color:$red);
                    }
                }

                .host-picture{
                    @media screen and (min-width: $desktopXL) {
                        width: 64px;
                        height: 64px;
                    }
                }
            }
        }
    }
    .card-details {
        @media screen and (min-width: $desktopXL) {
            @include flex($direction: row, $align: normal, $justify: space-between, $gap:unset);
        }

        .collapse {
            @media screen and (min-width: $desktopXL) {
                width:582px;            
            }

            .collapse-btn {
                @media screen and (min-width: $desktopXL) {
                    height: 52px;            
                }
            }
        }
    }

}