@import '../../../styles/sass/utils/styling';

#root.accomodation, .content-wrapper.accomodation-wrapper {
    @include flex($direction: column, $align: normal, $justify: normal, $gap: 27px);
    margin: auto;
    width: inherit;

    @media screen and (min-width: $desktopXL) {
        @include flex($direction: column, $align: normal, $justify: normal, $gap: 50px);
    }
}

.content-wrapper.accomodation-wrapper {
    width: $mobile-box;

    @media screen and (min-width: $desktopXL) {
        width: $desktopXL-box;
    }
}

.kasa-header.accomodation-header {
    @media screen and (min-width: $desktopXL) {
		margin-top: 45px;
    }
}

// .kasa-main.accomodation-main {
// 	@media screen and (min-width: $desktopXL) {
//         @include flex($direction:column,$align:normal,$justify:normal,$gap:unset);
//         width: $desktopXL-box;
// 	}
// }